#searchPage-title{
    color:black;
    text-align: center;
}

.search.div{
    margin: 0 auto;   
}

.movie-section{
    width: 80%;
}

.searchBar-container {
   display: flex;
   justify-content: center;
}