.toolbar{
    background-color: rgba(235, 235, 235, 0.822);
    height: 70px;
    padding:10px;
    width:100%;
    display: table;
}

.search-div{
    display:table-cell;
    padding-right: 20px;
    float:right;
}

.nav-link {
    color: rgba(0, 0, 0, 0.76);
    font-weight:bold;
    font-size: large;
    text-decoration: none;
    margin-left: 10px;
    display:table-cell;
    vertical-align: middle;
    padding-left: 20px;
}